body {
	padding:0;
	margin:0;
	background-color:orange;
}

.border {
	border:1px solid red;
}

.floatleft {
	float:left;
}

.fill-screen {
    background-size: cover;
    background-position: center;
}

.content-area {
	width:100%;
	/*min-height:1800px;*/
	margin:120px 0 0 0;
	padding:30px;
}

.container-fluid {
	width:100%;
	padding: 0;
}
